.card-icon {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  transition:
    transform var(--transition-base),
    opacity var(--transition-base);
}

.card-front {
  transition: transform var(--transition-base);
}

.hidden {
  opacity: 0;
  transform: translate(-10px, -10px);
}

.card-icon:hover .card-back {
  opacity: 1;
  transform: translate(0, 0);
}
