.artwork-item {
  cursor: pointer;
  flex: 1 0 calc(50% - 2rem);
  box-sizing: border-box;
  transition: transform var(--transition-fast);
}

.artwork-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform var(--transition-fast);
}

.artwork-item img:hover {
  transform: scale(1.01);
}
