.paragraph {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.paragraph-normal {
  font-weight: normal;
}

.paragraph-bold {
  font-weight: bold;
}

@media (max-width: 480px) {
  .paragraph {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
  }
}
