.artwork-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.artwork-grid.single-column .artwork-item {
  flex: 1 0 100%;
}

.artwork-info {
  padding-top: 1rem;
  text-align: left;
}

.artwork-info h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.artwork-info p {
  font-size: 0.875rem;
  color: var(--color-text-muted);
}

.button-toggle {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform var(--transition-fast);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  width: 2rem;
  height: 2rem;
}

.button-toggle:hover {
  transform: translateY(-2px);
}

.button-toggle:focus {
  outline: none;
}
