.footer {
  background-color: var(--color-primary);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer__icon {
  color: var(--color-white);
  font-size: 24px;
  transition:
    transform var(--transition-base),
    color var(--transition-base);
  cursor: pointer;
}

.footer__icon:hover {
  color: var(--color-border);
  transform: scale(1.1);
}
