.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

.image-wrapper:not(:first-child) {
  margin-top: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}